
{% extends 'poziomica_app/base.html' %}

{% block content %}
{% load static %}

<div class="d-flex justify-content-center mt-5 ">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Wynik</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
        {% for pomiar in pomiary %}
          <tr>
            <td>{{pomiar.id}}</td>
            <td>{{pomiar.nazwa}}</td>
            <td>{{pomiar.wynik}}</td>
            <td>{{pomiar.data}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}